package articles

import (
    "github.com/Schierke/personal-site/view/layout"
    "github.com/Schierke/personal-site/model"
    "github.com/gomarkdown/markdown"
	"github.com/gomarkdown/markdown/html"
	"github.com/gomarkdown/markdown/parser"
)

func mdToHtml(md []byte) []byte {
    extensions := parser.CommonExtensions | parser.AutoHeadingIDs | parser.NoEmptyLineBeforeBlock
	p := parser.NewWithExtensions(extensions)
	doc := p.Parse(md)

	// create HTML renderer with extensions
	htmlFlags := html.CommonFlags | html.HrefTargetBlank
	opts := html.RendererOptions{Flags: htmlFlags}
	renderer := html.NewRenderer(opts)

	return markdown.Render(doc, renderer)

}


templ ShowArticle(article model.Article) {
    @layout.Base(article.Meta.Title, article.Meta.Link) {
        <article>
            <div class="article-head text-center">
                <h1 class="blog-post-title"> {article.Meta.Title} </h1>
                <p class="blog-post-meta"> 
                    Manh Nguyen
                    <br/>
                    {article.Meta.Date}
                 </p>
            </div>
            <div>
                @templ.Raw(string(mdToHtml(article.Content)))
            </div>
        </article>
    }
}