package index

import "github.com/Schierke/personal-site/view/layout"

templ ShowIndex() {
    @layout.Base() {
        <div class="text-center">
            <p> Hello, I am </p>
            <h1>Nguyen Tien Manh</h1>
            <p class="lead">Software engineer</p>
        </div>
    }    
}