package index

import "github.com/Schierke/personal-site/model"
import "fmt"

templ Short(article model.Article) {
  <div class="short">
    <h2><a href={templ.URL(article.Meta.Link)}>{article.Meta.Title}</a></h2>
    <div class="datettr">
        <span class="date">{article.Meta.Date}</span> - 
        <span class="tags">
           for _, tag := range article.Meta.Tags {
             <span><a href={templ.URL(fmt.Sprintf("/tags/%s", tag))}>{tag}</a>&nbsp;</span>
           }
        </span>
    </div>
    <div>
       <a href={templ.URL(article.Meta.Link)}>
            <p>
                {article.Meta.ShortDescription}
            </p>
        </a>
    </div>
    <div class="readmore">
        <a href={templ.URL(article.Meta.Link)}>read more...</a>
    </div>
</div>
}