package layout

templ Footer() {

    <footer class="mt-auto text-white-50">
        <ul class="nav justify-content-center border-top pb-3 mb-3">
            <li class="nav-item"><a class="nav-link px-2 text-white" href="mailto:manh94@gmail.com">Email</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-white" href="https://github.com/Schierke">Github</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-white" href="https://www.linkedin.com/in/tienmanh-nguyen/">Linkedin</a></li>
        </ul>
    </footer>
}