package layout

templ Nav() {
    <div class="text-center mb-4">
        <h1 class="h4 font-weight-bold">Manh Nguyen</h1>
        <p class="text-muted">Software Engineer</p>
    </div>
    <nav>
        <ul class="list-unstyled">
            <li class="mb-2">
                <a href="/" class="nav-link text-white">Home</a>
            </li>
            <li class="mb-2">
                <a href="/about" class="nav-link text-white">About</a>
            </li>
            <li class="mb-2">
                <a href="/resume" class="nav-link text-white">Resume</a>
            </li>
        </ul>
    </nav>
}