package layout

templ Nav() {

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Manh Nguyen</span>
    </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto" id="menu">
            <li class="nav-item">
                <a href="/" class="nav-link align-middle px-0 text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Home
                </a>
            </li>
            <li>
                <a href="/about" class="nav-link px-0 align-middle text-white">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                   About
                </a>
            </li>
            <li>
                <a href="/resume" class="nav-link px-0 align-middle text-white">
                   <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                   Resume
                </a>
            </li>
        </ul>
    
}